<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div>
    <button id="test">click</button>
  </div>
  <div class="grid-container">
    <div class="item" id = "c00">00</div>
    <div class="item" id = "c01">01</div>
    <div class="item">02</div>
    <div class="item" id = "c10">10</div>  
    <div class="item" id = "c11">11</div>
    <div class="item">12</div>
    <div class="item">20</div>  
    <div class="item">21</div>
    <div class="item">22</div>
  </div>
  <script src="dist/button.js"></script>
</body>
</html>